body{
    background-color: rgb(241, 240, 240);
}

.container{
    display: grid;
    place-items: center;
}

#options-box{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
}

#options-box div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    /* margin-top: auto; */
    margin-bottom: auto;
}

#options-box span{
    margin-top: auto;
    /* margin-bottom: auto; */
    font-size: large;
    font-weight: bold;
    /* margin-bottom: 10%; */
}

h1{
    text-align: center;
    padding: 10px;
}
h2{
    text-align: center;
    padding: 10px;
}
#formCadastro{
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.932);
}

#tituloCadastro{
    font-size: large;
    border-style: solid;
    border-width: 3px;
    width: 100%;
    text-align: center;
}


#dadosCadastro{
    font-size: large;
    height: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dadosCadastro label{
    margin-top: 8px;
    margin-bottom: 0;
}

#dadosCadastro div{
    font-size: large;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

#tabelaLista{
    background-color: rgba(255, 255, 255, 0.932);

}

.tabela th{
    font-size: large;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.tabela td{
    font-size: large;
    width: 20vw;
    border-style: solid;
    border-width: 1px;
}

